.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 20px;
  background: transparent;
  transition: 0.5s ease all;
  z-index: 10;
}
.nav__black {
  background-color: #000;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 120px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
